/* style sheets for BTC ticker */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: #fff2e6;
    text-align: center;
}

#error-not-a-number {
    display: block;
    color: red;
    font-weight: bold;
}

#info {
    font-style: italic;
}
